# Terraform state files
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform/
terraform/.terraform.lock.hcl

# AWS credentials & environment variables 
.aws/
.env

# Lambda deployment package 
lambda/lambda_function.zip

# Python cache & virtual environment 
__pycache__/
venv/
.terraform/

